# Pandas read csv

In [ ]:
import pandas as pd

In [5]:
# Kamu bisa membaca format csv dengan fungsi read_csv() pada pandas
kriminal = pd.read_csv('crime_rates.csv')
kriminal

              Albuquerque   749
0                 Anaheim   371
1               Anchorage   828
2               Arlington   503
3                 Atlanta  1379
4                  Aurora   425
5                  Austin   408
6             Bakersfield   542
7               Baltimore  1405
8                  Boston   835
9                 Buffalo  1288
10  Charlotte-Mecklenburg   647
11             Cincinnati   974
12              Cleveland  1383
13       Colorado Springs   455
14         Corpus Christi   658
15                 Dallas   675
16                 Denver   615
17                Detroit  2122
18                El Paso   423
19             Fort Wayne   362
20             Fort Worth   587
21                 Fresno   543
22             Greensboro   563
23              Henderson   168
24                Houston   992
25           Indianapolis  1185
26           Jacksonville   617
27            Jersey City   734
28            Kansas City  1263
29              Las Vegas   784
..                    ...   ...
42            New Orleans   815
43               New York   639
44                 Newark  1154
45                Oakland  1993
46          Oklahoma City   919
47                  Omaha   594
48           Philadelphia  1160
49                Phoenix   636
50             Pittsburgh   752
51                  Plano   130
52               Portland   517
53                Raleigh   423
54              Riverside   443
55             Sacramento   738
56            San Antonio   503
57              San Diego   413
58          San Francisco   704
59               San Jose   363
60              Santa Ana   401
61                Seattle   597
62              St. Louis  1776
63               St. Paul   722
64               Stockton  1548
65                  Tampa   616
66                 Toledo  1171
67                 Tucson   724
68                  Tulsa   990
69         Virginia Beach   169
70             Washington  1177
71                Wichita   742

[72 rows x 2 columns]

In [6]:
# Tugas 1

# Gunakan fungsi read_csv untuk membaca food_info.csv yang telah disediakan ke dalam info_makanan

# Exploring The DataFrame

In [12]:
# Kita gunakan fungsi head() untuk menampilka 5 baris pertama
info_makanan.head()

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Lycopene_(Âµg),Lut+Zea_ (Âµg),Vit_E_(mg),Vit_D_Âµg,Vit_D_IU,Vit_K_(Âµg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg)
0,1001,"BUTTER,WITH SALT",15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,0.0,0.0,2.32,0.0,0.0,7.0,51.368,21.021,3.043,215.0
1,1002,"BUTTER,WHIPPED,W/ SALT",16.72,718,0.49,78.30,1.62,2.87,0.0,0.06,...,0.0,13.0,1.37,0.0,0.0,4.6,45.390,19.874,3.331,225.0
2,1003,"BUTTER OIL,ANHYDROUS",0.24,876,0.28,99.48,0.00,0.00,0.0,0.00,...,0.0,0.0,2.80,0.0,0.0,8.6,61.924,28.732,3.694,256.0
3,1004,"CHEESE,BLUE",42.41,353,21.40,28.74,5.11,2.34,0.0,0.50,...,0.0,0.0,0.25,0.5,21.0,2.4,18.669,7.778,0.800,75.0
4,1005,"CHEESE,BRICK",41.11,371,23.24,29.68,3.18,2.79,0.0,0.51,...,0.0,0.0,0.26,0.5,22.0,2.5,18.764,8.598,0.784,94.0

In [13]:
# Denga menambahkan parameter integer pada head() maka hasilnya akan seperti ini
info_makanan.head(3)

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Lycopene_(Âµg),Lut+Zea_ (Âµg),Vit_E_(mg),Vit_D_Âµg,Vit_D_IU,Vit_K_(Âµg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg)
0,1001,"BUTTER,WITH SALT",15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,0.0,0.0,2.32,0.0,0.0,7.0,51.368,21.021,3.043,215.0
1,1002,"BUTTER,WHIPPED,W/ SALT",16.72,718,0.49,78.30,1.62,2.87,0.0,0.06,...,0.0,13.0,1.37,0.0,0.0,4.6,45.390,19.874,3.331,225.0
2,1003,"BUTTER OIL,ANHYDROUS",0.24,876,0.28,99.48,0.00,0.00,0.0,0.00,...,0.0,0.0,2.80,0.0,0.0,8.6,61.924,28.732,3.694,256.0

In [17]:
# Kamu bisa menampilkan kolom apa saja dalam DataFrame
kolom_makanan = info_makanan.columns
kolom_makanan

Index(['NDB_No', 'Shrt_Desc', 'Water_(g)', 'Energ_Kcal', 'Protein_(g)',
       'Lipid_Tot_(g)', 'Ash_(g)', 'Carbohydrt_(g)', 'Fiber_TD_(g)',
       'Sugar_Tot_(g)', 'Calcium_(mg)', 'Iron_(mg)', 'Magnesium_(mg)',
       'Phosphorus_(mg)', 'Potassium_(mg)', 'Sodium_(mg)', 'Zinc_(mg)',
       'Copper_(mg)', 'Manganese_(mg)', 'Selenium_(Âµg)', 'Vit_C_(mg)',
       'Thiamin_(mg)', 'Riboflavin_(mg)', 'Niacin_(mg)', 'Panto_Acid_mg)',
       'Vit_B6_(mg)', 'Folate_Tot_(Âµg)', 'Folic_Acid_(Âµg)', 'Food_Folate_(Âµg)',
       'Folate_DFE_(Âµg)', 'Choline_Tot_ (mg)', 'Vit_B12_(Âµg)', 'Vit_A_IU',
       'Vit_A_RAE', 'Retinol_(Âµg)', 'Alpha_Carot_(Âµg)', 'Beta_Carot_(Âµg)',
       'Beta_Crypt_(Âµg)', 'Lycopene_(Âµg)', 'Lut+Zea_ (Âµg)', 'Vit_E_(mg)',
       'Vit_D_Âµg', 'Vit_D_IU', 'Vit_K_(Âµg)', 'FA_Sat_(g)', 'FA_Mono_(g)',
       'FA_Poly_(g)', 'Cholestrl_(mg)'],
      dtype='object')

In [18]:
# Kamu bisa menampilkan bentuk dari sebuah data dalam DataFrame
bentuk_data_makanan = info_makanan.shape
bentuk_data_makanan

(8790, 48)

In [19]:
# Tugas 2

# Tampilkan 20 baris pertama pada info_makanan ke dalam dua_puluh_pertama

# Series and selecting row

In [20]:
# Kita dapat mengambil sebuah baris pada DataFrame
# Baris ini merupakan bentuk struktur data dari Pandas yang bernama Series

info_makanan.loc[0]

NDB_No                           1001
Shrt_Desc            BUTTER,WITH SALT
Water_(g)                       15.87
Energ_Kcal                        717
Protein_(g)                      0.85
Lipid_Tot_(g)                   81.11
Ash_(g)                          2.11
Carbohydrt_(g)                   0.06
Fiber_TD_(g)                        0
Sugar_Tot_(g)                    0.06
Calcium_(mg)                       24
Iron_(mg)                        0.02
Magnesium_(mg)                      2
Phosphorus_(mg)                    24
Potassium_(mg)                     24
Sodium_(mg)                       643
Zinc_(mg)                        0.09
Copper_(mg)                         0
Manganese_(mg)                      0
Selenium_(Âµg)                       1
Vit_C_(mg)                          0
Thiamin_(mg)                    0.005
Riboflavin_(mg)                 0.034
Niacin_(mg)                     0.042
Panto_Acid_mg)                   0.11
Vit_B6_(mg)                     0.003
Folate_Tot_(Âµg)                     3
Folic_Acid_(Âµg)                     0
Food_Folate_(Âµg)                    3
Folate_DFE_(Âµg)                     3
Choline_Tot_ (mg)                18.8
Vit_B12_(Âµg)                     0.17
Vit_A_IU                         2499
Vit_A_RAE                         684
Retinol_(Âµg)                      671
Alpha_Carot_(Âµg)                    0
Beta_Carot_(Âµg)                   158
Beta_Crypt_(Âµg)                     0
Lycopene_(Âµg)                       0
Lut+Zea_ (Âµg)                       0
Vit_E_(mg)                       2.32
Vit_D_Âµg                            0
Vit_D_IU                            0
Vit_K_(Âµg)                          7
FA_Sat_(g)                     51.368
FA_Mono_(g)                    21.021
FA_Poly_(g)                     3.043
Cholestrl_(mg)                    215
Name: 0, dtype: object

In [22]:
info_makanan.loc[2]

NDB_No                               1003
Shrt_Desc            BUTTER OIL,ANHYDROUS
Water_(g)                            0.24
Energ_Kcal                            876
Protein_(g)                          0.28
Lipid_Tot_(g)                       99.48
Ash_(g)                                 0
Carbohydrt_(g)                          0
Fiber_TD_(g)                            0
Sugar_Tot_(g)                           0
Calcium_(mg)                            4
Iron_(mg)                               0
Magnesium_(mg)                          0
Phosphorus_(mg)                         3
Potassium_(mg)                          5
Sodium_(mg)                             2
Zinc_(mg)                            0.01
Copper_(mg)                         0.001
Manganese_(mg)                          0
Selenium_(Âµg)                           0
Vit_C_(mg)                              0
Thiamin_(mg)                        0.001
Riboflavin_(mg)                     0.005
Niacin_(mg)                         0.003
Panto_Acid_mg)                       0.01
Vit_B6_(mg)                         0.001
Folate_Tot_(Âµg)                         0
Folic_Acid_(Âµg)                         0
Food_Folate_(Âµg)                        0
Folate_DFE_(Âµg)                         0
Choline_Tot_ (mg)                    22.3
Vit_B12_(Âµg)                         0.01
Vit_A_IU                             3069
Vit_A_RAE                             840
Retinol_(Âµg)                          824
Alpha_Carot_(Âµg)                        0
Beta_Carot_(Âµg)                       193
Beta_Crypt_(Âµg)                         0
Lycopene_(Âµg)                           0
Lut+Zea_ (Âµg)                           0
Vit_E_(mg)                            2.8
Vit_D_Âµg                                0
Vit_D_IU                                0
Vit_K_(Âµg)                            8.6
FA_Sat_(g)                         61.924
FA_Mono_(g)                        28.732
FA_Poly_(g)                         3.694
Cholestrl_(mg)                        256
Name: 2, dtype: object

In [25]:
# Error karena diluar index
info_makanan.loc[8790]

KeyError: 'the label [8790] is not in the [index]'

In [26]:
# Tugas 3

# Masukkan baris ke 100 info_makanan ke dalam baris_seratus

# Data Types

In [27]:
# Kamu bisa melihat semua tipe data pada DataFrame
info_makanan.dtypes

NDB_No                 int64
Shrt_Desc             object
Water_(g)            float64
Energ_Kcal             int64
Protein_(g)          float64
Lipid_Tot_(g)        float64
Ash_(g)              float64
Carbohydrt_(g)       float64
Fiber_TD_(g)         float64
Sugar_Tot_(g)        float64
Calcium_(mg)         float64
Iron_(mg)            float64
Magnesium_(mg)       float64
Phosphorus_(mg)      float64
Potassium_(mg)       float64
Sodium_(mg)          float64
Zinc_(mg)            float64
Copper_(mg)          float64
Manganese_(mg)       float64
Selenium_(Âµg)        float64
Vit_C_(mg)           float64
Thiamin_(mg)         float64
Riboflavin_(mg)      float64
Niacin_(mg)          float64
Panto_Acid_mg)       float64
Vit_B6_(mg)          float64
Folate_Tot_(Âµg)      float64
Folic_Acid_(Âµg)      float64
Food_Folate_(Âµg)     float64
Folate_DFE_(Âµg)      float64
Choline_Tot_ (mg)    float64
Vit_B12_(Âµg)         float64
Vit_A_IU             float64
Vit_A_RAE            float64
Retinol_(Âµg)         float64
Alpha_Carot_(Âµg)     float64
Beta_Carot_(Âµg)      float64
Beta_Crypt_(Âµg)      float64
Lycopene_(Âµg)        float64
Lut+Zea_ (Âµg)        float64
Vit_E_(mg)           float64
Vit_D_Âµg             float64
Vit_D_IU             float64
Vit_K_(Âµg)           float64
FA_Sat_(g)           float64
FA_Mono_(g)          float64
FA_Poly_(g)          float64
Cholestrl_(mg)       float64
dtype: object

# Selecting multiple rows

In [28]:
# Kita dapat menampilkan baris lebih dari satu
info_makanan.loc[3:5]

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Lycopene_(Âµg),Lut+Zea_ (Âµg),Vit_E_(mg),Vit_D_Âµg,Vit_D_IU,Vit_K_(Âµg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg)
3,1004,"CHEESE,BLUE",42.41,353,21.40,28.74,5.11,2.34,0.0,0.50,...,0.0,0.0,0.25,0.5,21.0,2.4,18.669,7.778,0.800,75.0
4,1005,"CHEESE,BRICK",41.11,371,23.24,29.68,3.18,2.79,0.0,0.51,...,0.0,0.0,0.26,0.5,22.0,2.5,18.764,8.598,0.784,94.0
5,1006,"CHEESE,BRIE",48.42,334,20.75,27.68,2.70,0.45,0.0,0.45,...,0.0,0.0,0.24,0.5,20.0,2.3,17.410,8.013,0.826,100.0

In [32]:
info_makanan.loc[[0,2,4]]

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Lycopene_(Âµg),Lut+Zea_ (Âµg),Vit_E_(mg),Vit_D_Âµg,Vit_D_IU,Vit_K_(Âµg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg)
0,1001,"BUTTER,WITH SALT",15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,0.0,0.0,2.32,0.0,0.0,7.0,51.368,21.021,3.043,215.0
2,1003,"BUTTER OIL,ANHYDROUS",0.24,876,0.28,99.48,0.00,0.00,0.0,0.00,...,0.0,0.0,2.80,0.0,0.0,8.6,61.924,28.732,3.694,256.0
4,1005,"CHEESE,BRICK",41.11,371,23.24,29.68,3.18,2.79,0.0,0.51,...,0.0,0.0,0.26,0.5,22.0,2.5,18.764,8.598,0.784,94.0

In [33]:
# Tugas 3

# Tampilkan 5 baris terakhir info_makanan pada lima_baris_terakhir

# Selecting Individual Columns

In [35]:
# Kamu bisa menampilkan sebuah kolom berdasarkan nama dari kolom tersebut

kolom_nbd = info_makanan['NDB_No']
kolom_nbd

0        1001
1        1002
2        1003
3        1004
4        1005
5        1006
6        1007
7        1008
8        1009
9        1010
10       1011
11       1012
12       1013
13       1014
14       1015
15       1016
16       1017
17       1018
18       1019
19       1020
20       1021
21       1022
22       1023
23       1024
24       1025
25       1026
26       1027
27       1028
28       1029
29       1030
        ...
8760    43544
8761    43546
8762    43550
8763    43566
8764    43570
8765    43572
8766    43585
8767    43589
8768    43595
8769    43597
8770    43598
8771    44005
8772    44018
8773    44048
8774    44055
8775    44061
8776    44074
8777    44110
8778    44158
8779    44203
8780    44258
8781    44259
8782    44260
8783    48052
8784    80200
8785    83110
8786    90240
8787    90480
8788    90560
8789    93600
Name: NDB_No, dtype: int64

In [36]:
# Tugas 4

# 1. Tampilkan "FA_Sat_(g)" pada lemak_jenuh
# 2  Tampilkan "Cholestrl_(mg)" pada kolesterol

# Selecting multiple columns by name

In [39]:
# Kamu bisa memilih dua kolom dalam waktu yang bersamaan

kalsium_perunggu = info_makanan[["Zinc_(mg)", "Copper_(mg)"]]
kalsium_perunggu

      Zinc_(mg)  Copper_(mg)
0          0.09        0.000
1          0.05        0.010
2          0.01        0.001
3          2.66        0.040
4          2.60        0.024
5          2.38        0.019
6          2.38        0.021
7          2.94        0.024
8          3.64        0.030
9          2.79        0.042
10         3.07        0.042
11         0.40        0.029
12         0.33        0.040
13         0.47        0.030
14         0.51        0.033
15         0.38        0.028
16         0.50        0.018
17         3.75        0.036
18         2.88        0.032
19         3.50        0.025
20         1.14        0.080
21         3.90        0.036
22         3.90        0.032
23         2.10        0.021
24         3.00        0.032
25         2.92        0.011
26         2.46        0.022
27         2.76        0.025
28         3.62        0.033
29         2.81        0.031
...         ...          ...
8760       3.30        0.377
8761       0.05        0.040
8762       0.05        0.030
8763       1.15        0.116
8764       5.03        0.590
8765       3.83        0.545
8766       0.08        0.035
8767       3.90        0.027
8768       4.10        0.100
8769       3.13        0.027
8770       0.13        0.000
8771       0.02        0.000
8772       0.09        0.037
8773       0.21        0.026
8774       2.77        0.571
8775       0.41        0.838
8776       0.05        0.028
8777       0.03        0.023
8778       0.10        0.112
8779       0.02        0.020
8780       1.49        0.854
8781       0.19        0.040
8782       0.10        0.038
8783       0.85        0.182
8784       1.00        0.250
8785       1.10        0.100
8786       1.55        0.033
8787       0.19        0.020
8788       1.00        0.400
8789       1.00        0.250

[8790 rows x 2 columns]

In [40]:
# Tugas 5

# 1. Masukkan  'Selenium_(mcg)' dan 'Thiamin_(mg)'dalam selenium_thiamin